-
  var headerName = 'Skills';
  var tableName = 'Legend';
  var frontEndList = [
    {
      title: 'Front End',
      skillList: [
        'HTML5',
        'CSS3',
        'JavaScript',
        'React',
        'jQuery',
        'JSON',
        'SASS',
        'Bootstrap'
      ]
    }
  ]
  var backEndList = [
    {
      title: 'Back End',
      skillList: [
        'PUG',
        'GIT',
        'NodeJS',
        'MySQL',
        'Less'

      ]
    }
  ]
  var otherList = [
    {
      title: 'Other',
      skillList: [
        'JADE',
        'Gulp',
        'JSON',
        'Windows'
      ]
    }
  ]

#skill
.skill-box
    h1.skill-title=headerName
.skill-section
    .space
    include ../youtube-modal/youtube-modal
    .space

    h2.legend-title=tableName
    .skill-table
        ul.skill-row
            li.skill-item
                span.my-cv-heart
                span.skill-description Skills I love
                span.skill-number 1
            li.skill-item
                span.my-cv-trophy
                span.skill-description Skills I'm goot at
                span.skill-number 2
            li.skill-item
                span.my-cv-book
                span.skill-description Skills I'd love to get better at
                span.skill-number 3

    .skill__box
        each frontEnd in frontEndList
            .skill__title=frontEnd.title
            .skill__list
                each skill in frontEnd.skillList
                    button.front-end__skill=skill

        .space
        each backEnd in backEndList
            .skill__title=backEnd.title
            .skill__list
                each skill in backEnd.skillList
                    button.back-end__skill=skill

        .space
        each other in otherList
            .skill__title=other.title
            .skill__list
                each skill in other.skillList
                    button.other__skill=skill
        .space

    .paragraph__box
        p.some-text If you're already a front-end developer, well, pretend you're also wearing a pirate hat.
    .space

    button.button__disc
        span.my-cv-arrow-down
    .space


