- var firstTitle = data.network.firstTitle
include ../first-title-wrapper/first-title-wrapper

.column(span="row" height="10")
.column(span="row")
  .network__avatar
.column(span="row")

each social, key in data.network.socialList
  input.network__radio(
    type="radio"
    name="key"
    id=`network-${key}`
  )
  .column(span="1")
    label(for=`network-${key}`).network__disc
      span(class=`icon-${social.icon}`)

.column(span="row" height="10")
.column(span="row")
  button.second-circle
    span.icon-arrow-down2
    span.circle-text
.column(span="row" height="10")

