-
    var reviewTitle = "Reviews";
    var reviewList = [
        {
            image: "asset/image/user1.png",
            name: "Mustafa Salfety",
            date: "15 October 2018 ",
            text: "Great content , these things you will learn will change your life for better"
        },
        {
            image: "asset/image/user2.png",
            name: "Fardin Ahmad",
            date: "October 10 at 4:49 AM",
            text: "Very Good It"
        },
        {
            image: "asset/image/user-photo.jpg",
            name: "Iulian ",
            date: "September 28 at 6:44 PM",
            text: "Join our group and become a professional Front Web Developer in less than 5 months!"
        }
    ]


#review
.review
    h1.review__title=reviewTitle
.review__section
    .space
    include ../youtube-modal/youtube-modal
    .space

    .review-wrapper
    each review in reviewList
        img.review-avatar(src=review.image, alt="this is a photo")
        .review-detail
                .review-name=review.name
                .review-date=review.date
        .space
        .review-box
            .review-text=review.text
        .space

    .space
    button.button__disc
        span.my-cv-arrow-down
    .space
