-
    var headTitle = "Portfolio";
    var firstTitle = "Recent";
    var secondTitle = "Old";
    var codetapImage = "asset/image/codetap.jpg";
    var pugImage = "asset/image/pug.jpg";

#portfolio
.portfolio
    h1.portfolio__title=headTitle
.portfolio__section
    .space
    button.youtube-button
        a.link-access(href="https://www.youtube.com")
            span.youtube-icon(class="my-cv-youtube")
    .space

    .portfolio-first__title=firstTitle
    .codetap-box
        .codetap-content
            h1.codetap-title CodeTap Academy
            p.codetap-program HTML, CSS, Git, JavaScript, SEO, Optimise, React
            a.codetap-link(href="https://codetap.academy") https://codetap.academy
        .codetap-image
            img.codetap-avatar(src=codetapImage alt="This is codetap avatar")
    .codetap-button
        button.earth-button
            a.first-link(href="https://www.google.com")
                span.my-cv-earth
        button.gh-button
            a.second-link(href="https://www.github.com")
                span.codetap-gh.my-cv-github

    .space
    .space
    .portfolio-second__title=secondTitle
    .pug-box
        .pug-content
            h1.pug-title Pug Starter
            p.pug-program HTML, CSS, Git, JavaScript, SEO, Optimise, React
        .pug-image
            img.pug-avatar(src=pugImage alt="This is pug avatar")

    .space
    .space
        button.button__disc
            span.my-cv-arrow-down
    .space

