- var firstTitle = data.meet.firstTitle;
include ../title-box/title-box

.column(span="row" height="10")
.column(span="row")
  .meet-me__avatar
.column(span="row")

each social, key in data.meet.socialList
  input.meet-me_radio(type="radio" name="input-radio" id=`meet-me__label--${key}`)
  .column(span="1")
    label(for=`meet-me__label--${key}`).meet-me__circle
      i(class=`icon--${social.icon}`)

each social, key in data.meet.socialList
  .column(span="row" data-description-box=key+1)
    .description-box
      .description-box__header
        .description-box__title=social.title
        .description-box__close
          input.meet-me_radio(type="radio" name="input-radio" id=`meet-me__label--reset`)
          .column(span="1")
            label(for=`meet-me__label--reset`).meet-me__circle
              i(class=`icon--cross`)
      .description-box__body
        p.description-box__paragraph=social.text
      .description-box__footer
        a(href=social.link target="_blank").button-link
          span.footer-text=social.label

.column(span="row" height="10")
.column(span="row")
  span.arrow-down.icon--arrow-down2
.column(span="row" height="10")
