-
    var buttonList = [
        {
            icon: "icon-github",
            description: {
                title: "Github Account",
                url: "https://github.com/BogdanNegura",
                label: "GitHub",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-linkedin",
            description: {
                title: "Linkedin Account",
                url: "https://www.linkedin.com/",
                label: "Linkedin",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-skype",
            description: {
                title: "Skype Account",
                url: "https://www.skype.com/",
                label: "Skype",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-stackoverflow",
            description: {
                title: "StackOverflow Account",
                url: "https://stackoverflow.com/",
                label: "StackOverflow",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-instagram",
            description: {
                title: "Instagram Account",
                url: "https://www.instagram.com/",
                label: "Instagram",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-twitter",
            description: {
                title: "Twitter Account",
                url: "https://twitter.com/search/%7BsearchTerms%7D?source=desktop-search",
                label: "Twitter",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-youtube",
            description: {
                title: "Youtube Account",
                url: "https://www.youtube.com/",
                label: "Youtube",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-codewars",
            description: {
                title: "Codewars Account",
                url: "https://www.codewars.com/users/Bogdan%20Negura",
                label: "Codewars",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        },
        {
            icon: "icon-udemy",
            description: {
                title: "Undemy Account",
                url: "https://www.udemy.com/",
                label: "Udemy",
                text: "I make the Front-End world a better place every day. I translate geek into English and my passion is to innovate and design for the future.",
                iconUrl: "icon-link"
            }
        }
    ]

.connect
    .space(height="30")
    button.youtube-button
        a.youtube-link(href="https://www.youtube.com/watch?v=7lgg_MSblRE")      
            span.youtube-icon(class=`icon-youtube`)
    .space(height="30")
    .avatar-holder
        img.avatar(src="../../asset/image/avatar/avatar_2.jpg", alt="something went wrong")
    .space(height="30")


    ul.social-media__list
        each button, key in buttonList
            li.social-icons
                label.social-icons__label(for=`message-id-${key}`)
                    span(class=button.icon)
    .space(height="30")


    .social-media__body
        input.input-item(type="radio", checked name="radio-input", id="default-message-radio")
        each button, key in buttonList
            input.input-item(type="radio", name="radio-input", id=`message-id-${key}`)
            .description
                .input-item__header
                    h3.title-description=button.description.title
                    label.input-item__close(for="default-message-radio") &times;
                .paragraph-description
                    p.paragraph=button.description.text
                .icon-url__wrapper
                    .icon-url
                        span(class=button.description.iconUrl)
                        a.media-link(href=button.description.url)=button.description.label
    .space(height="30")
    .arrow-down
        span(class=`icon-arrow-down`)



