- var sectionTitle = data.connect.sectionTitle
include ../section-title/section-title

.column(span="row")
  .connect__avatar
.column(span="row" height="10")

each social, key in data.connect.socialList
  input.connect__radio(
    type="radio"
    name="connect__label"
    id=`connect__label--${key}`
  )
  .column(span="1")
    label(for=`connect__label--${key}`).connect__disc
      i(class=`icon__${social.icon}`)

.column(span="row" height="10")
.column(span="row")
  .description-box__with-arrow
    .description-box__header
      .description-box__title mimimi
      .description-box__close
        input.connect__radio(
          type="radio"
          name="connect__label"
          id=`connect__label--reset`
        )
        label(for=`connect__label--reset`).connect__disc
          i(class=`icon__cross`)
    .description-box__body
      p.description-box__paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ducimus velit optio necessitatibus quod omnis voluptate, amet nemo aliquid expedita, non, numquam fugit exercitationem eius nesciunt! Recusandae inventore eligendi sint!
    .description-box__footer
      button.button__pill--blue
        i.icon__link
        span.button-text=data['about-me'].downloadButtonLabel

.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down

