- var sectionTitle = data.experience.sectionTitle;
include ../section-title/section-title

.column(span="row" height="10")
.column(span="row")
  ul.experience__list 
    each job, key in data.experience.jobList
      li.experience__item
        .experience__logo
          img.experience__logo-image(
            src=`${baseUrl}asset/image/company-logo/${job.iconPath}`
            width="50"
          )
        .experience__job-title=job.jobTitle
        .experience__company-name=job.companyName
        input(
          type="checkbox"
          id=`experience__checkbox-${key}`).experience__checkbox
        label(
          for=`experience__checkbox-${key}`
        ).experience__chevron 
          .icon__arrow-up
        .experience__body
          .experience__date=`${job.startDate} - ${job.endDate}`
          each moreInfo in job.moreInfoList
            .experience__more-info=moreInfo
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
