- var sectionTitle = data.skills.sectionTitle
include ../section-title/section-title

.column(span="row")
  h3.about-me__body-title=data.skills.legend.title
.column(span="row")
  ul.skills__list
    each item, key in data.skills.legend.itemList
      li.skills__item
        span.skills__icon(class=`icon__${item.icon}`)
        span.skills__label=item.label
        span.skills__count=key + 1
each skillType in data.skills.skillTypeList
  .column(span="row" height="10")
  .column(span="row")
    h3.about-me__body-title=skillType.type
  .column(span="row")
    each skill in skillType.skillList
      span(
        class=`skills__skill--${skill.type}`
      )=skill.label
.column(span="row" height="10")
.column(span="row")
  .description-box__with-shadow 
      p.description=data.skills.description
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")
