doctype html
html
    head
        meta(charset="utf-8")
        meta(
            name="viewport" 
            content="width=device-width"
            )
        meta(
            name="description" 
            content="This is the version 2 of My-cv for junior and we gonna use pug as template engine for html"
            )
        title Welcome to My CV Version 2 Junior
        if config.entry.css.embed
            link(rel="stylesheet" href=`${embedPath}` embed)
    body    
        .content
            include _component/welcome/welcome
            include _component/connect/connect
            include _component/skills/skills
            include _component/experience/experience
            include _component/open-source/open-source
            include _component/portofolio/portofolio
            include _component/recomandation/recomandation
            include _component/reviews/reviews
            include _component/im-proud/im-proud



        
        if config.entry.css.external
            link(rel="stylesheet", href=`${baseUrl}style.css`)