//- pre=JSON.stringify(data['about-me'], null, 2)
include ../section-title/section-title

.column(span="row")
  h1.about-me__main-title=data['about-me'].mainTitle 
.column(span="row")
  h2.about-me__sub-title=data['about-me'].subTitle
.column(span="row" height="10")
.column(span="row")
  h3.about-me__body-title=data['about-me'].bodyTitle
.column(span="row")
  .description-box__with-shadow
    each description in data['about-me'].descriptionList
      p.description=description

.column(span="row" height="10")
.column(span="row")
  button.button__pill--blue
    i.icon__download
    span.button-text Download CV
.column(span="row" height="10")
.column(span="row")
  button.button__disc--green
    i.icon__arrow-down
.column(span="row" height="10")

