.top-box-title=data.welcome.welcome
button.youtube-disc
  span.my-resume__youtube
  span.button-download__text Youtube
h1=data.welcome.fullname
h2=data.welcome.careerlvl
h3=data.welcome.whoIAm
.text-description__with-extra-shadow
  p=data.welcome.resume

button.download-button
  span.my-resume__download
  span.button-download__text=data.welcome.download