.column(span="row")
  .top-box__title-wrapper
    .top-box__title=data.welcome.welcome
.column(span="row" height="20")
.column(span="row")
  button.youtube-disc__red
    span.my-resume__youtube
.column(span="row" height="20")
.column(span="row")
  h1.welcome__full-name=data.welcome.fullname
.column(span="row")
  h2.welcome__career-lvl=data.welcome.careerlvl
.column(span="row" height="20")
.column(span="row")
  h3.welcome__description-title=data.welcome.whoIAm
.column(span="row")
  .text-description__with-extra-shadow
    p.description-text=data.welcome.resume

.column(span="row" height="20")
.column(span="row")
  button.download-button__blue
    span.my-resume__download
    span.button-download__text=data.welcome.download

.column(span="row" height="20")
.column(span="row")
  button.arrow-down__green
    span.my-resume__arrow-down

.column(span="row" height="20")
